@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Money+</h1>
    <h5 class="display-7">Keep track of your finances, plan your future!</h5>
</div>