@page
@model MoneyPlus.Pages.TransactionsPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transaction.Id" />
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Date" class="control-label"></label>
                <input asp-for="Transaction.Date" class="form-control" />
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Type" class="control-label"></label>
                <input asp-for="Transaction.Type" class="form-control" />
                <span asp-validation-for="Transaction.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransctionType" class="control-label"></label>
                <input asp-for="Transaction.TransctionType" class="form-control" />
                <span asp-validation-for="Transaction.TransctionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.WalletId" class="control-label"></label>
                <select asp-for="Transaction.WalletId" class="form-control" asp-items="ViewBag.WalletId"></select>
                <span asp-validation-for="Transaction.WalletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
