@page
@model MoneyPlus.Pages.CategoryTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h1>Edit</h1>

    <h4>CategoryType</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryType.Id" />
                <div class="form-group">
                    <label asp-for="CategoryType.Name" class="control-label"></label>
                    <input asp-for="CategoryType.Name" class="form-control" />
                    <span asp-validation-for="CategoryType.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryType.CategoryId" class="control-label"></label>
                    <select asp-for="CategoryType.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryType.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
}
else
{
    <div class="alert-danger">
        <h1 class="display-5">Access Denied!</h1>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
