@page
@model MoneyPlus.Pages.Expenses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Expenses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Expenses.Id" />
            <div class="form-group">
                <label asp-for="Expenses.Date" class="control-label"></label>
                <input asp-for="Expenses.Date" class="form-control" />
                <span asp-validation-for="Expenses.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.Amount" class="control-label"></label>
                <input asp-for="Expenses.Amount" class="form-control" />
                <span asp-validation-for="Expenses.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.PaymentMethod" class="control-label">Payment Method</label>
                <input asp-for="Expenses.PaymentMethod" class="form-control" />
                <span asp-validation-for="Expenses.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.Description" class="control-label"></label>
                <input asp-for="Expenses.Description" class="form-control" />
                <span asp-validation-for="Expenses.Description" class="text-danger"></span>
            </div>
        @*    <div class="form-group">
                <label asp-for="Expenses.Asset" class="control-label"></label>
                <input asp-for="Expenses.Asset" class="form-control" />
                <span asp-validation-for="Expenses.Asset" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Expenses.Asset" class="control-label"></label>
                <select asp-for="Expenses.Asset" class="form-control" asp-items="ViewBag.AssetId"></select>
                <span asp-validation-for="Expenses.Asset" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Expenses.UserId" />
            @*<div class="form-group">
                <label asp-for="Expenses.UserId" class="control-label"></label>
                <select asp-for="Expenses.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Expenses.UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Expenses.PayeeId" class="control-label">Payee</label>
                <select asp-for="Expenses.PayeeId" class="form-control" asp-items="ViewBag.PayeeId"></select>
                <span asp-validation-for="Expenses.PayeeId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Expenses.TransactionId" />
            @*<div class="form-group">
                <label asp-for="Expenses.TransactionId" class="control-label">Transaction Id</label>
                <select asp-for="Expenses.TransactionId" class="form-control" asp-items="ViewBag.TransactionId"></select>
                <span asp-validation-for="Expenses.TransactionId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Expenses.CategoryTypeId" class="control-label">Category Type</label>
                <select asp-for="Expenses.CategoryTypeId" class="form-control" asp-items="ViewBag.CategoryTypeId"></select>
                <span asp-validation-for="Expenses.CategoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
