@page
@model MoneyPlus.Pages.Transactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Date" class="control-label"></label>
                <input asp-for="Transaction.Date" class="form-control" />
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Type" class="control-label">Credit or Debit</label>
                <select asp-for="Transaction.Type" class="form-control" asp-items="ViewBag.Type"> </select>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransactionType" class="control-label">Transaction Type</label>
                <input asp-for="Transaction.TransactionType" class="form-control" />
                <span asp-validation-for="Transaction.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.WalletId" class="control-label">Wallet</label>
                <select asp-for="Transaction.WalletId" class="form-control" asp-items="ViewBag.WalletId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}