@page "/reports/reports"
@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<br>
<br>
<br>

<div>
    <a asp-page="MonthlyExpenses">Monthly Expenses</a>
</div>
<hr>
<div>
    <a asp-page="YearlyExpenses">Yearly Expenses</a>
</div>
<hr>
<div>
    <a asp-page="TotalExpensesByYear">Total Expenses By Year</a>
</div>