@page "/reports/reports"
@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<select name="number">
    <option value="">Select a report</option>
    <option value="YearlyExpensesModel">Monthly Expenses</option>
    <option value="2">Yearly Expenses</option>
    <option value="3">Total Expenses By Year</option>
</select>