@page "/reports/reports"
@{
    ViewData["Title"] = "Reports";
}

<br>
<br>
<br>
<h1>Reports</h1>
<br>
<br>
<br>
<a class="btn btn-outline-primary" asp-area="" asp-page="/Reports/MonthlyExpenses">Monthly Expenses</a>
<br>
<br>
<br>
<a class="btn btn-outline-primary" asp-area="" asp-page="/Reports/YearlyExpenses">Yearly Expenses</a>
<br>
<br>
<br>
<a class="btn btn-outline-primary" asp-area="" asp-page="/Reports/TotalExpensesByYear">Total Expenses By Year</a>