@page
@model MoneyPlus.Pages.Admin.SecretModel
@{
    //var url = Request.Path;
    //if (string.IsNullOrEmpty(Request.QueryString.Value) || !Request.QueryString.Value.Contains("pouco-segura"))
    //    RedirectToRoutePermanent("/admin/BlockedPage");

        

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Admin.styles.css" asp-append-version="true" />
</head>
<body class="bd-gradient">
</body>

<h5 class="display-6">Categories</h5>
<a class="btn btn-primary align-content-center" asp-area="" asp-page="/Categories/Index">Manage Categories</a>

<br />
<br />
<br />

<h5 class="display-6">SubCategories</h5>
<a class="btn btn-primary align-content-center" asp-area="" asp-page="/CategoryTypes/Index">Manage Sub-Categories</a>

<br />
<br />
<br />

<h5 class="display-6">Create Admin</h5>
<a class="btn btn-primary align-content-center" asp-area="" asp-page="/admin/RegisterAdmin" asp-route-returnUrl="@Model.ReturnURL">Create Admin</a>
