@page
@model MoneyPlus.Pages.Admin.SecretModel
@{
    ViewData["Title"] = "Admin Page";
}

<br />
<br />
<br />
<h1>Categories</h1>
<a class="btn btn-outline-primary" asp-area="" asp-page="/Categories/Index">Manage Categories</a>
<br />
<br />
<br />
<h1>SubCategories</h1>
<a class="btn btn-outline-primary" asp-area="" asp-page="/CategoryTypes/Index">Manage Sub-Categories</a>
<br />
<br />
<br />
<h1>Admin</h1>
<a class="btn btn-outline-primary" asp-area="" asp-page="/admin/RegisterAdmin" asp-route-returnUrl="@Model.ReturnURL">Create Admin</a>